
transformers==4.31.0
torch==2.0.1
tensorrt==8.6.1
accelerate==0.21.0
safetensors==0.3.1
peft==0.5.0.dev0
bitsandbytes==0.41.1

markdown
markdown2
mdtex2html

gradio
mdtex2html
pypinyin
tiktoken
socksio
tqdm
colorama
duckduckgo_search
Pygments
SentencePiece
llama_index
langchain


scipy
numpy



